@import '../theme/index.styl'

*
*::before
*::after
    box-sizing inherit

    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    text-rendering geometricPrecision

html
    box-sizing border-box

    font-size 12px
    line-height 1.5
    hyphens manual

    font-kerning normal
    font-variant-ligatures common-ligatures
    font-variant-numeric oldstyle-nums proportional-nums

body
    plumber-maison()

    color gray-900
    background-color gray-100
