@import '../theme/index.styl'

p
    plumber-maison()

p
p.indent
    text-indent 1em

p.flush
*:not(p) + p
    text-indent 0

h1
    plumber-maison(font-size: 5, leading-top: 5, leading-bottom: 1)
    font-weight 900
    font-stretch expanded
    letter-spacing 8px

    font-variant-caps all-small-caps

    &:first-child
        plumber-maison(font-size: 5, leading-top: 1, leading-bottom: 1)

h2
    plumber-maison(font-size: 4, leading-top: 3, leading-bottom: 0)
    font-weight 900
    font-stretch expanded
    letter-spacing 5px

    font-variant-caps all-small-caps

h3
    plumber-maison(font-size: 3, leading-top: 3, leading-bottom: 0)
    font-weight 900
    font-stretch expanded
    letter-spacing 3px

    font-variant-caps all-small-caps

h4
    plumber-maison(font-size: 3, leading-top: 3, leading-bottom: 0)
    font-weight 900
    font-stretch expanded
    letter-spacing 5px

    font-variant-caps all-small-caps

h5
    plumber-maison(font-size: 3, leading-top: 2, leading-bottom: 0)
    font-weight 900
    font-stretch expanded
    letter-spacing 4px

    font-variant-caps all-small-caps

h6
    plumber-maison(font-size: 3, leading-top: 1, leading-bottom: 0)
    font-weight 900
    font-stretch expanded
    letter-spacing 3px

    font-variant-caps all-small-caps
