@import '../theme/index.styl'

p
    plumber-maison()

p
p.indent
    text-indent 1em

p.flush
*:not(p) + p
p:first-child
    text-indent 0

h1
    plumber-charlie(font-size: 5, leading-top: 5, leading-bottom: 1)
    font-weight 400

    &:first-child
        plumber-charlie(font-size: 5, leading-top: 1, leading-bottom: 1)

h2
    plumber-charlie(font-size: 4, leading-top: 3, leading-bottom: 0)
    font-weight 400

h3
    plumber-charlie(font-size: 3, leading-top: 3, leading-bottom: 0)
    font-weight 400

h4
    plumber-charlie(font-size: 3, leading-top: 3, leading-bottom: 0)
    font-weight 400

h5
    plumber-charlie(font-size: 3, leading-top: 2, leading-bottom: 0)
    font-weight 400

h6
    plumber-charlie(font-size: 3, leading-top: 1, leading-bottom: 0)
    font-weight 400
