:root
    --spectrum-dark-gray50 rgb(29 29 29)
    --spectrum-dark-gray75 rgb(38 38 38)
    --spectrum-dark-gray100 rgb(50 50 50)
    --spectrum-dark-gray200 rgb(63 63 63)
    --spectrum-dark-gray300 rgb(84 84 84)
    --spectrum-dark-gray400 rgb(112 112 112)
    --spectrum-dark-gray500 rgb(144 144 144)
    --spectrum-dark-gray600 rgb(178 178 178)
    --spectrum-dark-gray700 rgb(209 209 209)
    --spectrum-dark-gray800 rgb(235 235 235)
    --spectrum-dark-gray900 rgb(255 255 255)
    --spectrum-dark-blue100 rgb(0 56 119)
    --spectrum-dark-blue200 rgb(0 65 138)
    --spectrum-dark-blue300 rgb(0 77 163)
    --spectrum-dark-blue400 rgb(0 89 194)
    --spectrum-dark-blue500 rgb(3 103 224)
    --spectrum-dark-blue600 rgb(19 121 243)
    --spectrum-dark-blue700 rgb(52 143 244)
    --spectrum-dark-blue800 rgb(84 163 246)
    --spectrum-dark-blue900 rgb(114 183 249)
    --spectrum-dark-blue1000 rgb(143 202 252)
    --spectrum-dark-blue1100 rgb(174 219 254)
    --spectrum-dark-blue1200 rgb(204 233 255)
    --spectrum-dark-blue1300 rgb(232 246 255)
    --spectrum-dark-blue1400 rgb(255 255 255)
    --spectrum-dark-red100 rgb(123 0 0)
    --spectrum-dark-red200 rgb(141 0 0)
    --spectrum-dark-red300 rgb(165 0 0)
    --spectrum-dark-red400 rgb(190 4 3)
    --spectrum-dark-red500 rgb(215 25 19)
    --spectrum-dark-red600 rgb(234 56 41)
    --spectrum-dark-red700 rgb(246 88 67)
    --spectrum-dark-red800 rgb(255 117 94)
    --spectrum-dark-red900 rgb(255 149 129)
    --spectrum-dark-red1000 rgb(255 176 161)
    --spectrum-dark-red1100 rgb(255 201 189)
    --spectrum-dark-red1200 rgb(255 222 216)
    --spectrum-dark-red1300 rgb(255 241 238)
    --spectrum-dark-red1400 rgb(255 255 255)
    --spectrum-dark-orange100 rgb(102 37 0)
    --spectrum-dark-orange200 rgb(117 45 0)
    --spectrum-dark-orange300 rgb(137 55 0)
    --spectrum-dark-orange400 rgb(158 66 0)
    --spectrum-dark-orange500 rgb(180 78 0)
    --spectrum-dark-orange600 rgb(202 93 0)
    --spectrum-dark-orange700 rgb(225 109 0)
    --spectrum-dark-orange800 rgb(244 129 12)
    --spectrum-dark-orange900 rgb(254 154 46)
    --spectrum-dark-orange1000 rgb(255 181 88)
    --spectrum-dark-orange1100 rgb(253 206 136)
    --spectrum-dark-orange1200 rgb(255 225 179)
    --spectrum-dark-orange1300 rgb(255 242 221)
    --spectrum-dark-orange1400 rgb(255 253 249)
    --spectrum-dark-yellow100 rgb(76 54 0)
    --spectrum-dark-yellow200 rgb(88 64 0)
    --spectrum-dark-yellow300 rgb(103 76 0)
    --spectrum-dark-yellow400 rgb(119 89 0)
    --spectrum-dark-yellow500 rgb(136 104 0)
    --spectrum-dark-yellow600 rgb(155 120 0)
    --spectrum-dark-yellow700 rgb(174 137 0)
    --spectrum-dark-yellow800 rgb(192 156 0)
    --spectrum-dark-yellow900 rgb(211 174 0)
    --spectrum-dark-yellow1000 rgb(228 194 0)
    --spectrum-dark-yellow1100 rgb(244 213 0)
    --spectrum-dark-yellow1200 rgb(249 232 92)
    --spectrum-dark-yellow1300 rgb(252 246 187)
    --spectrum-dark-yellow1400 rgb(255 255 255)
    --spectrum-dark-chartreuse100 rgb(48 64 0)
    --spectrum-dark-chartreuse200 rgb(55 74 0)
    --spectrum-dark-chartreuse300 rgb(65 87 0)
    --spectrum-dark-chartreuse400 rgb(76 102 0)
    --spectrum-dark-chartreuse500 rgb(89 118 0)
    --spectrum-dark-chartreuse600 rgb(102 136 0)
    --spectrum-dark-chartreuse700 rgb(117 154 0)
    --spectrum-dark-chartreuse800 rgb(132 173 1)
    --spectrum-dark-chartreuse900 rgb(148 192 8)
    --spectrum-dark-chartreuse1000 rgb(166 211 18)
    --spectrum-dark-chartreuse1100 rgb(184 229 37)
    --spectrum-dark-chartreuse1200 rgb(205 245 71)
    --spectrum-dark-chartreuse1300 rgb(231 254 154)
    --spectrum-dark-chartreuse1400 rgb(255 255 255)
    --spectrum-dark-celery100 rgb(0 69 10)
    --spectrum-dark-celery200 rgb(0 80 12)
    --spectrum-dark-celery300 rgb(0 94 14)
    --spectrum-dark-celery400 rgb(0 109 15)
    --spectrum-dark-celery500 rgb(0 127 15)
    --spectrum-dark-celery600 rgb(0 145 18)
    --spectrum-dark-celery700 rgb(4 165 30)
    --spectrum-dark-celery800 rgb(34 184 51)
    --spectrum-dark-celery900 rgb(68 202 73)
    --spectrum-dark-celery1000 rgb(105 220 99)
    --spectrum-dark-celery1100 rgb(142 235 127)
    --spectrum-dark-celery1200 rgb(180 247 162)
    --spectrum-dark-celery1300 rgb(221 253 211)
    --spectrum-dark-celery1400 rgb(255 255 255)
    --spectrum-dark-green100 rgb(4 67 41)
    --spectrum-dark-green200 rgb(0 78 47)
    --spectrum-dark-green300 rgb(0 92 56)
    --spectrum-dark-green400 rgb(0 108 67)
    --spectrum-dark-green500 rgb(0 125 78)
    --spectrum-dark-green600 rgb(0 143 93)
    --spectrum-dark-green700 rgb(18 162 108)
    --spectrum-dark-green800 rgb(43 180 125)
    --spectrum-dark-green900 rgb(67 199 143)
    --spectrum-dark-green1000 rgb(94 217 162)
    --spectrum-dark-green1100 rgb(129 233 184)
    --spectrum-dark-green1200 rgb(177 244 209)
    --spectrum-dark-green1300 rgb(223 250 234)
    --spectrum-dark-green1400 rgb(254 255 252)
    --spectrum-dark-seafoam100 rgb(18 65 63)
    --spectrum-dark-seafoam200 rgb(14 76 73)
    --spectrum-dark-seafoam300 rgb(4 90 87)
    --spectrum-dark-seafoam400 rgb(0 105 101)
    --spectrum-dark-seafoam500 rgb(0 122 117)
    --spectrum-dark-seafoam600 rgb(0 140 135)
    --spectrum-dark-seafoam700 rgb(0 158 152)
    --spectrum-dark-seafoam800 rgb(3 178 171)
    --spectrum-dark-seafoam900 rgb(54 197 189)
    --spectrum-dark-seafoam1000 rgb(93 214 207)
    --spectrum-dark-seafoam1100 rgb(132 230 223)
    --spectrum-dark-seafoam1200 rgb(176 242 236)
    --spectrum-dark-seafoam1300 rgb(223 249 246)
    --spectrum-dark-seafoam1400 rgb(254 255 254)
    --spectrum-dark-cyan100 rgb(0 61 98)
    --spectrum-dark-cyan200 rgb(0 71 111)
    --spectrum-dark-cyan300 rgb(0 85 127)
    --spectrum-dark-cyan400 rgb(0 100 145)
    --spectrum-dark-cyan500 rgb(0 116 162)
    --spectrum-dark-cyan600 rgb(0 134 180)
    --spectrum-dark-cyan700 rgb(0 153 198)
    --spectrum-dark-cyan800 rgb(14 173 215)
    --spectrum-dark-cyan900 rgb(44 193 230)
    --spectrum-dark-cyan1000 rgb(84 211 241)
    --spectrum-dark-cyan1100 rgb(127 228 249)
    --spectrum-dark-cyan1200 rgb(167 241 255)
    --spectrum-dark-cyan1300 rgb(215 250 255)
    --spectrum-dark-cyan1400 rgb(255 255 255)
    --spectrum-dark-indigo100 rgb(40 44 140)
    --spectrum-dark-indigo200 rgb(47 52 163)
    --spectrum-dark-indigo300 rgb(57 63 187)
    --spectrum-dark-indigo400 rgb(70 75 211)
    --spectrum-dark-indigo500 rgb(85 91 231)
    --spectrum-dark-indigo600 rgb(104 109 244)
    --spectrum-dark-indigo700 rgb(124 129 251)
    --spectrum-dark-indigo800 rgb(145 149 255)
    --spectrum-dark-indigo900 rgb(167 170 255)
    --spectrum-dark-indigo1000 rgb(188 190 255)
    --spectrum-dark-indigo1100 rgb(208 210 255)
    --spectrum-dark-indigo1200 rgb(226 228 255)
    --spectrum-dark-indigo1300 rgb(243 243 254)
    --spectrum-dark-indigo1400 rgb(255 255 255)
    --spectrum-dark-purple100 rgb(76 13 157)
    --spectrum-dark-purple200 rgb(89 17 177)
    --spectrum-dark-purple300 rgb(105 28 200)
    --spectrum-dark-purple400 rgb(122 45 218)
    --spectrum-dark-purple500 rgb(140 65 233)
    --spectrum-dark-purple600 rgb(157 87 243)
    --spectrum-dark-purple700 rgb(172 111 249)
    --spectrum-dark-purple800 rgb(187 135 251)
    --spectrum-dark-purple900 rgb(202 159 252)
    --spectrum-dark-purple1000 rgb(215 182 254)
    --spectrum-dark-purple1100 rgb(228 204 254)
    --spectrum-dark-purple1200 rgb(239 223 255)
    --spectrum-dark-purple1300 rgb(249 240 255)
    --spectrum-dark-purple1400 rgb(255 253 255)
    --spectrum-dark-fuchsia100 rgb(107 3 106)
    --spectrum-dark-fuchsia200 rgb(123 0 123)
    --spectrum-dark-fuchsia300 rgb(144 0 145)
    --spectrum-dark-fuchsia400 rgb(165 13 166)
    --spectrum-dark-fuchsia500 rgb(185 37 185)
    --spectrum-dark-fuchsia600 rgb(205 57 206)
    --spectrum-dark-fuchsia700 rgb(223 81 224)
    --spectrum-dark-fuchsia800 rgb(235 110 236)
    --spectrum-dark-fuchsia900 rgb(244 140 242)
    --spectrum-dark-fuchsia1000 rgb(250 168 245)
    --spectrum-dark-fuchsia1100 rgb(254 194 248)
    --spectrum-dark-fuchsia1200 rgb(255 219 250)
    --spectrum-dark-fuchsia1300 rgb(255 239 252)
    --spectrum-dark-fuchsia1400 rgb(255 253 255)
    --spectrum-dark-magenta100 rgb(118 0 58)
    --spectrum-dark-magenta200 rgb(137 0 66)
    --spectrum-dark-magenta300 rgb(160 0 77)
    --spectrum-dark-magenta400 rgb(182 18 90)
    --spectrum-dark-magenta500 rgb(203 38 109)
    --spectrum-dark-magenta600 rgb(222 61 130)
    --spectrum-dark-magenta700 rgb(237 87 149)
    --spectrum-dark-magenta800 rgb(249 114 167)
    --spectrum-dark-magenta900 rgb(255 143 185)
    --spectrum-dark-magenta1000 rgb(255 172 202)
    --spectrum-dark-magenta1100 rgb(255 198 218)
    --spectrum-dark-magenta1200 rgb(255 221 233)
    --spectrum-dark-magenta1300 rgb(255 240 245)
    --spectrum-dark-magenta1400 rgb(255 252 253)
