:root
    --spectrum-light-gray50 rgb(255 255 255)
    --spectrum-light-gray75 rgb(253 253 253)
    --spectrum-light-gray100 rgb(248 248 248)
    --spectrum-light-gray200 rgb(230 230 230)
    --spectrum-light-gray300 rgb(213 213 213)
    --spectrum-light-gray400 rgb(177 177 177)
    --spectrum-light-gray500 rgb(144 144 144)
    --spectrum-light-gray600 rgb(109 109 109)
    --spectrum-light-gray700 rgb(70 70 70)
    --spectrum-light-gray800 rgb(34 34 34)
    --spectrum-light-gray900 rgb(0 0 0)
    --spectrum-light-blue100 rgb(224 242 255)
    --spectrum-light-blue200 rgb(202 232 255)
    --spectrum-light-blue300 rgb(181 222 255)
    --spectrum-light-blue400 rgb(150 206 253)
    --spectrum-light-blue500 rgb(120 187 250)
    --spectrum-light-blue600 rgb(89 167 246)
    --spectrum-light-blue700 rgb(56 146 243)
    --spectrum-light-blue800 rgb(20 122 243)
    --spectrum-light-blue900 rgb(2 101 220)
    --spectrum-light-blue1000 rgb(0 84 182)
    --spectrum-light-blue1100 rgb(0 68 145)
    --spectrum-light-blue1200 rgb(0 53 113)
    --spectrum-light-blue1300 rgb(0 39 84)
    --spectrum-light-blue1400 rgb(0 28 60)
    --spectrum-light-red100 rgb(255 235 231)
    --spectrum-light-red200 rgb(255 221 214)
    --spectrum-light-red300 rgb(255 205 195)
    --spectrum-light-red400 rgb(255 183 169)
    --spectrum-light-red500 rgb(255 155 136)
    --spectrum-light-red600 rgb(255 124 101)
    --spectrum-light-red700 rgb(247 92 70)
    --spectrum-light-red800 rgb(234 56 41)
    --spectrum-light-red900 rgb(211 21 16)
    --spectrum-light-red1000 rgb(180 0 0)
    --spectrum-light-red1100 rgb(147 0 0)
    --spectrum-light-red1200 rgb(116 0 0)
    --spectrum-light-red1300 rgb(89 0 0)
    --spectrum-light-red1400 rgb(67 0 0)
    --spectrum-light-orange100 rgb(255 236 204)
    --spectrum-light-orange200 rgb(255 223 173)
    --spectrum-light-orange300 rgb(253 210 145)
    --spectrum-light-orange400 rgb(255 187 99)
    --spectrum-light-orange500 rgb(255 160 55)
    --spectrum-light-orange600 rgb(246 133 17)
    --spectrum-light-orange700 rgb(228 111 0)
    --spectrum-light-orange800 rgb(203 93 0)
    --spectrum-light-orange900 rgb(177 76 0)
    --spectrum-light-orange1000 rgb(149 61 0)
    --spectrum-light-orange1100 rgb(122 47 0)
    --spectrum-light-orange1200 rgb(97 35 0)
    --spectrum-light-orange1300 rgb(73 25 1)
    --spectrum-light-orange1400 rgb(53 18 1)
    --spectrum-light-yellow100 rgb(251 241 152)
    --spectrum-light-yellow200 rgb(248 231 80)
    --spectrum-light-yellow300 rgb(248 217 4)
    --spectrum-light-yellow400 rgb(232 198 0)
    --spectrum-light-yellow500 rgb(215 179 0)
    --spectrum-light-yellow600 rgb(196 159 0)
    --spectrum-light-yellow700 rgb(176 140 0)
    --spectrum-light-yellow800 rgb(155 120 0)
    --spectrum-light-yellow900 rgb(133 102 0)
    --spectrum-light-yellow1000 rgb(112 83 0)
    --spectrum-light-yellow1100 rgb(91 67 0)
    --spectrum-light-yellow1200 rgb(72 51 0)
    --spectrum-light-yellow1300 rgb(54 37 0)
    --spectrum-light-yellow1400 rgb(40 26 0)
    --spectrum-light-chartreuse100 rgb(219 252 110)
    --spectrum-light-chartreuse200 rgb(203 244 67)
    --spectrum-light-chartreuse300 rgb(188 233 42)
    --spectrum-light-chartreuse400 rgb(170 216 22)
    --spectrum-light-chartreuse500 rgb(152 197 10)
    --spectrum-light-chartreuse600 rgb(135 177 3)
    --spectrum-light-chartreuse700 rgb(118 156 0)
    --spectrum-light-chartreuse800 rgb(103 136 0)
    --spectrum-light-chartreuse900 rgb(87 116 0)
    --spectrum-light-chartreuse1000 rgb(72 96 0)
    --spectrum-light-chartreuse1100 rgb(58 77 0)
    --spectrum-light-chartreuse1200 rgb(44 59 0)
    --spectrum-light-chartreuse1300 rgb(33 44 0)
    --spectrum-light-chartreuse1400 rgb(24 31 0)
    --spectrum-light-celery100 rgb(205 252 191)
    --spectrum-light-celery200 rgb(174 246 157)
    --spectrum-light-celery300 rgb(150 238 133)
    --spectrum-light-celery400 rgb(114 224 106)
    --spectrum-light-celery500 rgb(78 207 80)
    --spectrum-light-celery600 rgb(39 187 54)
    --spectrum-light-celery700 rgb(7 167 33)
    --spectrum-light-celery800 rgb(0 145 18)
    --spectrum-light-celery900 rgb(0 124 15)
    --spectrum-light-celery1000 rgb(0 103 15)
    --spectrum-light-celery1100 rgb(0 83 13)
    --spectrum-light-celery1200 rgb(0 64 10)
    --spectrum-light-celery1300 rgb(0 48 7)
    --spectrum-light-celery1400 rgb(0 34 5)
    --spectrum-light-green100 rgb(206 248 224)
    --spectrum-light-green200 rgb(173 244 206)
    --spectrum-light-green300 rgb(137 236 188)
    --spectrum-light-green400 rgb(103 222 168)
    --spectrum-light-green500 rgb(73 204 147)
    --spectrum-light-green600 rgb(47 184 128)
    --spectrum-light-green700 rgb(21 164 110)
    --spectrum-light-green800 rgb(0 143 93)
    --spectrum-light-green900 rgb(0 122 77)
    --spectrum-light-green1000 rgb(0 101 62)
    --spectrum-light-green1100 rgb(0 81 50)
    --spectrum-light-green1200 rgb(5 63 39)
    --spectrum-light-green1300 rgb(10 46 29)
    --spectrum-light-green1400 rgb(10 32 21)
    --spectrum-light-seafoam100 rgb(206 247 243)
    --spectrum-light-seafoam200 rgb(170 241 234)
    --spectrum-light-seafoam300 rgb(140 233 226)
    --spectrum-light-seafoam400 rgb(101 218 210)
    --spectrum-light-seafoam500 rgb(63 201 193)
    --spectrum-light-seafoam600 rgb(15 181 174)
    --spectrum-light-seafoam700 rgb(0 161 154)
    --spectrum-light-seafoam800 rgb(0 140 135)
    --spectrum-light-seafoam900 rgb(0 119 114)
    --spectrum-light-seafoam1000 rgb(0 99 95)
    --spectrum-light-seafoam1100 rgb(12 79 76)
    --spectrum-light-seafoam1200 rgb(18 60 58)
    --spectrum-light-seafoam1300 rgb(18 44 43)
    --spectrum-light-seafoam1400 rgb(15 31 30)
    --spectrum-light-cyan100 rgb(197 248 255)
    --spectrum-light-cyan200 rgb(164 240 255)
    --spectrum-light-cyan300 rgb(136 231 250)
    --spectrum-light-cyan400 rgb(96 216 243)
    --spectrum-light-cyan500 rgb(51 197 232)
    --spectrum-light-cyan600 rgb(18 176 218)
    --spectrum-light-cyan700 rgb(1 156 200)
    --spectrum-light-cyan800 rgb(0 134 180)
    --spectrum-light-cyan900 rgb(0 113 159)
    --spectrum-light-cyan1000 rgb(0 93 137)
    --spectrum-light-cyan1100 rgb(0 74 115)
    --spectrum-light-cyan1200 rgb(0 57 93)
    --spectrum-light-cyan1300 rgb(0 42 70)
    --spectrum-light-cyan1400 rgb(0 30 51)
    --spectrum-light-indigo100 rgb(237 238 255)
    --spectrum-light-indigo200 rgb(224 226 255)
    --spectrum-light-indigo300 rgb(211 213 255)
    --spectrum-light-indigo400 rgb(193 196 255)
    --spectrum-light-indigo500 rgb(172 175 255)
    --spectrum-light-indigo600 rgb(149 153 255)
    --spectrum-light-indigo700 rgb(126 132 252)
    --spectrum-light-indigo800 rgb(104 109 244)
    --spectrum-light-indigo900 rgb(82 88 228)
    --spectrum-light-indigo1000 rgb(64 70 202)
    --spectrum-light-indigo1100 rgb(50 54 168)
    --spectrum-light-indigo1200 rgb(38 41 134)
    --spectrum-light-indigo1300 rgb(27 30 100)
    --spectrum-light-indigo1400 rgb(20 22 72)
    --spectrum-light-purple100 rgb(246 235 255)
    --spectrum-light-purple200 rgb(238 221 255)
    --spectrum-light-purple300 rgb(230 208 255)
    --spectrum-light-purple400 rgb(219 187 254)
    --spectrum-light-purple500 rgb(204 164 253)
    --spectrum-light-purple600 rgb(189 139 252)
    --spectrum-light-purple700 rgb(174 114 249)
    --spectrum-light-purple800 rgb(157 87 244)
    --spectrum-light-purple900 rgb(137 61 231)
    --spectrum-light-purple1000 rgb(115 38 211)
    --spectrum-light-purple1100 rgb(93 19 183)
    --spectrum-light-purple1200 rgb(71 12 148)
    --spectrum-light-purple1300 rgb(51 16 106)
    --spectrum-light-purple1400 rgb(35 15 73)
    --spectrum-light-fuchsia100 rgb(255 233 252)
    --spectrum-light-fuchsia200 rgb(255 218 250)
    --spectrum-light-fuchsia300 rgb(254 199 248)
    --spectrum-light-fuchsia400 rgb(251 174 246)
    --spectrum-light-fuchsia500 rgb(245 146 243)
    --spectrum-light-fuchsia600 rgb(237 116 237)
    --spectrum-light-fuchsia700 rgb(224 85 226)
    --spectrum-light-fuchsia800 rgb(205 58 206)
    --spectrum-light-fuchsia900 rgb(182 34 183)
    --spectrum-light-fuchsia1000 rgb(157 3 158)
    --spectrum-light-fuchsia1100 rgb(128 0 129)
    --spectrum-light-fuchsia1200 rgb(100 6 100)
    --spectrum-light-fuchsia1300 rgb(71 14 70)
    --spectrum-light-fuchsia1400 rgb(50 13 49)
    --spectrum-light-magenta100 rgb(255 234 241)
    --spectrum-light-magenta200 rgb(255 220 232)
    --spectrum-light-magenta300 rgb(255 202 221)
    --spectrum-light-magenta400 rgb(255 178 206)
    --spectrum-light-magenta500 rgb(255 149 189)
    --spectrum-light-magenta600 rgb(250 119 170)
    --spectrum-light-magenta700 rgb(239 90 152)
    --spectrum-light-magenta800 rgb(222 61 130)
    --spectrum-light-magenta900 rgb(200 34 105)
    --spectrum-light-magenta1000 rgb(173 9 85)
    --spectrum-light-magenta1100 rgb(142 0 69)
    --spectrum-light-magenta1200 rgb(112 0 55)
    --spectrum-light-magenta1300 rgb(84 3 42)
    --spectrum-light-magenta1400 rgb(60 6 29)
