html
    color var(--spectrum-dark-gray800)
    font-family var(--sans-serif-family)

    background-color var(--spectrum-dark-gray100)

body
    font-size 8px

    font-kerning normal
    text-rendering geometricPrecision
