html
    background-color var(--spectrum-dark-gray100)
    font-family var(--sans-serif-family)
    color var(--spectrum-dark-gray800)

body
    font-size 8px
    text-rendering geometricPrecision
    font-kerning normal
