html
    background-color var(--spectrum-dark-gray100)
    font-family 'Adobe Clean', 'Helvetica Neue', Helvetica, Arial, sans-serif
    color var(--spectrum-dark-gray800)

body
    font-size 112.5%
    text-rendering geometricPrecision
    font-kerning normal
    font-variant-ligatures common-ligatures
    font-variant-numeric lining-nums proportional-nums
    font-feature-settings 'kern' 1, 'liga' 1, 'lnum' 1, 'pnum' 1
    hyphens manual
