:root
    --serif-family 'Capita', 'Capita', 'Times New Roman', serif
    --sans-serif-family 'Adobe Clean', ui-sans-serif, system-ui, sans-serif
    --mono-family ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace
