breakpoints = {
    lg: 1056px,
    max: 1584px,
    md: 672px,
    sm: 425px,
    xlg: 1312px
}

above(breakpoint)
    @media screen and (min-width breakpoints[breakpoint])
        {block}

below(breakpoint)
    @media screen and (max-width breakpoints[breakpoint])
        {block}

between(breakpoint1, breakpoint2)
    @media screen and (min-width breakpoints[breakpoint1]) and (max-width breakpoints[breakpoint2])
        {block}
