@font-face
    font-family 'Capita'
    src url('/fonts/capita/Capita-ExtraLight.woff2') format('woff2')
    font-weight 200
    font-style normal
    font-display swap

@font-face
    font-family 'Capita'
    src url('/fonts/capita/Capita-ExtraLightItalic.woff2') format('woff2')
    font-weight 200
    font-style italic
    font-display swap

@font-face
    font-family 'Capita'
    src url('/fonts/capita/Capita-Light.woff2') format('woff2')
    font-weight 300
    font-style normal
    font-display swap

@font-face
    font-family 'Capita'
    src url('/fonts/capita/Capita-LightItalic.woff2') format('woff2')
    font-weight 300
    font-style italic
    font-display swap

@font-face
    font-family 'Capita'
    src url('/fonts/capita/Capita-Regular.woff2') format('woff2')
    font-weight 400
    font-style normal
    font-display swap

@font-face
    font-family 'Capita'
    src url('/fonts/capita/Capita-RegularItalic.woff2') format('woff2')
    font-weight 400
    font-style italic
    font-display swap

@font-face
    font-family 'Capita'
    src url('/fonts/capita/Capita-Medium.woff2') format('woff2')
    font-weight 500
    font-style normal
    font-display swap

@font-face
    font-family 'Capita'
    src url('/fonts/capita/Capita-MediumItalic.woff2') format('woff2')
    font-weight 500
    font-style italic
    font-display swap

@font-face
    font-family 'Capita'
    src url('/fonts/capita/Capita-Bold.woff2') format('woff2')
    font-weight 700
    font-style normal
    font-display swap

@font-face
    font-family 'Capita'
    src url('/fonts/capita/Capita-BoldItalic.woff2') format('woff2')
    font-weight 700
    font-style italic
    font-display swap

@font-face
    font-family 'Capita'
    src url('/fonts/capita/Capita-ExtraBold.woff2') format('woff2')
    font-weight 800
    font-style normal
    font-display swap

@font-face
    font-family 'Capita'
    src url('/fonts/capita/Capita-ExtraBoldItalic.woff2') format('woff2')
    font-weight 800
    font-style italic
    font-display swap
