
@font-face
    font-weight 900
    font-family 'National'
    font-style normal
    font-stretch normal
    src url('/fonts/national/NationalTwo-Black.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 900
    font-family 'National'
    font-style italic
    font-stretch normal
    src url('/fonts/national/NationalTwo-BlackItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style normal
    font-stretch normal
    src url('/fonts/national/NationalTwo-Bold.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style italic
    font-stretch normal
    src url('/fonts/national/NationalTwo-BoldItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 900
    font-family 'National'
    font-style normal
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedBlack.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 900
    font-family 'National'
    font-style italic
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedBlackItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style normal
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedBold.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style italic
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedBoldItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style normal
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedExtraBold.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style italic
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedExtraBoldItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 200
    font-family 'National'
    font-style normal
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedExtralight.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 200
    font-family 'National'
    font-style italic
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedExtralightItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 400
    font-family 'National'
    font-style italic
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 300
    font-family 'National'
    font-style normal
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedLight.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 300
    font-family 'National'
    font-style italic
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedLightItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 500
    font-family 'National'
    font-style normal
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedMedium.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 500
    font-family 'National'
    font-style italic
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedMediumItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 400
    font-family 'National'
    font-style normal
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedRegular.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 100
    font-family 'National'
    font-style normal
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedThin.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 100
    font-family 'National'
    font-style italic
    font-stretch ultra-condensed
    src url('/fonts/national/NationalTwo-CompressedThinItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 900
    font-family 'National'
    font-style normal
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedBlack.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 900
    font-family 'National'
    font-style italic
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedBlackItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style normal
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedBold.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style italic
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedBoldItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style normal
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedExtraBold.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style italic
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedExtraBoldItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 200
    font-family 'National'
    font-style normal
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedExtralight.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 200
    font-family 'National'
    font-style italic
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedExtralightItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 400
    font-family 'National'
    font-style italic
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 300
    font-family 'National'
    font-style normal
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedLight.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 300
    font-family 'National'
    font-style italic
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedLightItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 500
    font-family 'National'
    font-style normal
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedMedium.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 500
    font-family 'National'
    font-style italic
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedMediumItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 400
    font-family 'National'
    font-style normal
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedRegular.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 100
    font-family 'National'
    font-style normal
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedThin.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 100
    font-family 'National'
    font-style italic
    font-stretch extra-condensed
    src url('/fonts/national/NationalTwo-CondensedThinItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style normal
    font-stretch normal
    src url('/fonts/national/NationalTwo-ExtraBold.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style italic
    font-stretch normal
    src url('/fonts/national/NationalTwo-ExtraBoldItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 200
    font-family 'National'
    font-style normal
    font-stretch normal
    src url('/fonts/national/NationalTwo-Extralight.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 200
    font-family 'National'
    font-style italic
    font-stretch normal
    src url('/fonts/national/NationalTwo-ExtralightItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 400
    font-family 'National'
    font-style italic
    font-stretch normal
    src url('/fonts/national/NationalTwo-Italic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 300
    font-family 'National'
    font-style normal
    font-stretch normal
    src url('/fonts/national/NationalTwo-Light.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 300
    font-family 'National'
    font-style italic
    font-stretch normal
    src url('/fonts/national/NationalTwo-LightItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 500
    font-family 'National'
    font-style normal
    font-stretch normal
    src url('/fonts/national/NationalTwo-Medium.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 500
    font-family 'National'
    font-style italic
    font-stretch normal
    src url('/fonts/national/NationalTwo-MediumItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 900
    font-family 'National'
    font-style normal
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowBlack.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 900
    font-family 'National'
    font-style italic
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowBlackItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style normal
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowBold.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style italic
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowBoldItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style normal
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowExtraBold.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 700
    font-family 'National'
    font-style italic
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowExtraBoldItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 200
    font-family 'National'
    font-style normal
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowExtralight.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 200
    font-family 'National'
    font-style italic
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowExtralightItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 400
    font-family 'National'
    font-style italic
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 300
    font-family 'National'
    font-style normal
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowLight.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 300
    font-family 'National'
    font-style italic
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowLightItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 500
    font-family 'National'
    font-style normal
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowMedium.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 500
    font-family 'National'
    font-style italic
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowMediumItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 400
    font-family 'National'
    font-style normal
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowRegular.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 100
    font-family 'National'
    font-style normal
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowThin.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 100
    font-family 'National'
    font-style italic
    font-stretch condensed
    src url('/fonts/national/NationalTwo-NarrowThinItalic.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 400
    font-family 'National'
    font-style normal
    font-stretch normal
    src url('/fonts/national/NationalTwo-Regular.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 100
    font-family 'National'
    font-style normal
    font-stretch normal
    src url('/fonts/national/NationalTwo-Thin.woff2') format('woff2')

    font-display swap

@font-face
    font-weight 100
    font-family 'National'
    font-style italic
    font-stretch normal
    src url('/fonts/national/NationalTwo-ThinItalic.woff2') format('woff2')

    font-display swap
